<ol class="post-list">
  {{#each posts as |post| }}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post.newsfeed_url}}" target="_blank">{{post.name}}</a>
        <span>({{post.newsfeed_url}})</span>
      </div>
      <div class="meta">
        {{post.message}}

        <a href="/post/{{newsfeed.id}}">Enjoy the website</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol