<ol class="post-list">
  {{#each posts as |post| }}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post.newsfeed_url}}" target="_blank">{{post.name}}</a>
        <span>({{post.newsfeed_url}})</span>
      </div>
      <div class="meta">
        {{post.message}} by {{post.user.username}}
        {{post.created_at}}

        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s) </a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>